.framePic {
  position: relative;
}
.floatBut {
  position: absolute;
  bottom: 8px;
  right: 20px;
}
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: #f1f1f1;
  width: 1138px;
}
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  font-size: 14px;
}
.tab button:hover {
  background-color: #ddd;
  border: 1px solid black;
}
.tab button.active {
  background-color: #ccc;
  border: 1px solid black;
}
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.tabinfo {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
}
.greatCenter {
  box-sizing: border-box;
  border: 1px solid black;
  padding: 6px;
  width: 105px;
  height: 40px;
  margin: auto;
}
.midimg {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.midbut1 {
  margin-left: 0;
}
.midbut2 {
  margin-right: 15;
}
.searchform input {
  width: 169px;
  height: 33px;
}
::-webkit-input-placeholder {
  /* Chrome/Opera/Safari */
  color: lightgrey;
}
::-moz-placeholder {
  /* Firefox 19+ */
  color: lightgrey;
}
:-ms-input-placeholder {
  /* IE 10+ */
  color: lightgrey;
}
:-moz-placeholder {
  /* Firefox 18- */
  color: lightgrey;
}
.swapper:hover {
  color: #f39c12;
  border: 1px solid #f39c12;
}
.aswap:hover {
  color: white;
  background: #f39c12;
  border: 1px solid #f39c12;
}
.swappor {
  color: white;
  background: #f39c12;
  border: 1px solid #f39c12;
}
.swappor:hover {
  color: black;
  background: #ebedef;
  border: 1px solid black;
}
.pull-center:hover {
  color: black;
  font-weight: bold;
}
.demo {
  display: inline-block;
}
.demo a {
  color: grey;
  padding: 5px 12px;
  text-decoration: none;
  transition: background-color 2s;
  border: 1px solid grey;
  font-size: 15px;
}
.demo a.active {
  border: 1px solid #90EE90;
  color: #90EE90;
}
.demo a:hover {
  border: 1px solid #90EE90;
  color: #90EE90;
}
.reddit {
  border: 2px solid red;
}
.reddot:hover {
  border: 2px solid red;
}
.fitBox {
  font-size: 10pt;
  width: 230px;
}
.formBox {
  font-size: 15px;
  color: black;
  width: 100%;
  height: 40px;
}
.inputField {
  background-color: #f2f4f4;
  border: 1px solid #f2f4f4;
}
.picList {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-evenly;
}
.modal {
  display: none;
  position: fixed;
  z-index: 100;
  padding-top: 100px;
  padding-bottom: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.9);
}
.modal-content {
  margin: auto;
  display: block;
  width: 80%;
  max-width: 700px;
}
.modal-content,
#caption {
  animation-name: zoom;
  animation-duration: 0.6s;
}
@keyframes zoom {
  from {
    transform: scale(0);
  }
  to {
    transform: scale(1);
  }
}
.close {
  position: absolute;
  top: 15px;
  right: 35px;
  color: #f1f1f1;
  font-size: 40px;
  font-weight: bold;
  transition: 0.3s;
}
.close:hover,
.close:focus {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
@media only screen and (max-width: 700px) {
  .modal-content {
    width: 100%;
  }
}
.wishbox {
  margin-left: 124px;
  text-align: left;
  overflow: hidden;
  text-overflow: ellipsis;
  width: 800px;
  height: 104px;
  background: white;
}
.w_margin {
  margin-left: -16px;
  margin-top: 71px;
}
